@import "./assets/variables.scss";

nav.navigation.desktop {
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &--item {
      display: inline-block;
    }
    &--link {
      text-decoration: none;
      @include font(true);
      font-size: 18px;
      color: $gray;
      padding: 25px 18px 22px;
      display: block;
      position: relative;
      &.logo {
        padding: 5px 15px;
        &::after {
          display: none;
        }
        svg {
          height: 50px;
        }
      }
      &.cart {
        span {
          position: absolute;
          top: 13px;
          background-color: white;
          padding: 1px;
          border-radius: 5px;
          right: 6px;
          color: $red;
          font-size: 15px;
        }
      }
      &.active {
        color: $red;
      }
      &.active::after {
        background-color: $red;
      }
      &::after {
        content: "";
        background-color: $gray;
        width: 0;
        position: absolute;
        bottom: 12px;
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        @include bezier(150ms);
      }
      &:hover::after {
        width: 85%;
      }
    }
  }
}

.fade {
  &-appear,
  &-enter {
    opacity: 0;
    z-index: 1;
  }
  &-appear-active,
  &-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
}
