nav {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 16px 18px;
      display: inline-block;
      a {
        text-decoration: none;
        font-family: "Hoccen";
        font-size: 18px;
        color: #333333;
      }
    }
  }
}

.fade {
  &-appear,
  &-enter {
    opacity: 0;
    z-index: 1;
  }
  &-appear-active,
  &-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
}
