nav {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 16px 18px;
      display: inline-block;
      a {
        text-decoration: none;
        font-family: "Hoccen";
        font-size: 18px;
        color: #333333;
      }
    }
  }
}
