@import "./assets/variables.scss";

@font-face {
  font-family: Hoccen;
  src: url(./assets/fonts/Hoccen.ttf);
  font-weight: bold;
}

@font-face {
  font-family: WorkSans;
  src: url(./assets/fonts/WorkSans-Regular.ttf);
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include font(false);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
