@font-face {
  font-family: Hoccen;
  src: url(./assets/fonts/Hoccen.ttf);
}

@font-face {
  font-family: Neutra;
  src: url(./assets/fonts/Neutra.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Neutra", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
