@import "../../assets/variables.scss";

.product-card {
  flex: 1 1;
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  min-width: 200px;
  max-width: 375px;
  @include bezier(200ms);
  @media (max-width: 470px) {
    margin: 0 0 20px 0;
  }
  &:hover {
    transform: translateY(-5px);
  }
  &:hover &--title {
    text-decoration: underline;
  }
  &--image-container {
    position: relative;
    &--image {
      width: 100%;
      border-radius: 5px;
    }
    &--price {
      position: absolute;
      background-color: white;
      padding: 5px 10px;
      border-radius: 0 0 0 5px;
      font-size: 20px;
      z-index: 5;
      right: -1px;
      color: black;
      font-weight: bold;
    }
    &--heat {
      position: absolute;
      background-color: white;
      padding: 5px 10px;
      z-index: 5;
      left: -1px;
      bottom: 0;
      width: 40px;
      height: 40px;
      border-radius: 0 5px 0 0;
      cursor: help;
      &:hover .heat-rating {
        transform: scale(1.2);
      }
      .heat-rating {
        @include ease-in-out(200ms);
      }
    }
  }
  &--title {
    margin: 7.5px 0 0 0;
    font-size: 25px;
    font-family: "Neutra";
    color: black;
    @include ease-in-out(200ms);
  }
  &--availability {
    margin: 0;
    color: $lightgray;
    font: 20px "Neutra";
  }
  &--link {
    text-decoration: none;
  }
}
