@import "../../assets/variables.scss";

.product-card {
  flex: 1 1;
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  min-width: 200px;
  max-width: 375px;
  @include bezier(200ms);
  @media (max-width: 470px) {
    margin: 0 0 20px 0;
  }
  &--image {
    width: 100%;
  }
  &--title {
    margin: 7.5px 0 0 0;
    font-size: 25px;
    font-family: "Neutra";
    color: black;
  }
  &--price {
    margin: 0;
  }
  &--availability {
    margin: 0;
    color: $lightgray;
    font: 20px "Neutra";
  }
  &--link {
    text-decoration: none;
  }
}
