.product-card {
  position: relative;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  width: 320px;
  &--image {
    width: 100%;
  }
  &--title {
    margin: 0;
    font-size: 25px;
    font-family: "Hoccen";
  }
  &--price {
    margin: 0;
  }
  &--availability {
    margin: 0;
  }
  &--link {
    text-decoration: none;
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
    background-color: black;
    color: white;
    display: inline-block;
  }
}
