$white: #fff;
$black: #000;
$gray: #333;
$lightgray: #69727b;
$red: #c1272d;

$small: 400px;
$medium: 800px;
$large: 1200px;
$extralarge: 1500px;

@mixin font($bold) {
  @if $bold {
    font-weight: bold;
    font-family: "Hoccen", sans-serif;
  } @else {
    font-weight: normal;
    font-family: "WorkSans", sans-serif;
  }
}

@mixin main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
  max-width: 1300px;
  padding-top: 65px;
  @media (max-width: 500px) {
    width: 90%;
    padding-top: 75px;
  }
  @media (max-width: 800px) {
    width: 85%;
  }
  @media (min-width: 800px) {
    width: 80%;
  }
}

@mixin bezier($duration) {
  transition: all $duration cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin ease-in-out($duration) {
  transition: all $duration ease-in-out;
}

@mixin h1 {
  @include font(true);
  @include bezier(200ms);
  @media (min-width: $large) {
    font-size: 50px;
  }
  @media (max-width: $large) {
    font-size: 40px;
  }
  @media (max-width: $medium) {
    font-size: 30px;
  }
  @media (max-width: $small) {
    font-size: 25px;
  }
}

@mixin h3 {
  @include font(false);
  @include bezier(200ms);
  @media (min-width: $large) {
    font-size: 30px;
  }
  @media (max-width: $large) {
    font-size: 25px;
  }
  @media (max-width: $medium) {
    font-size: 20px;
  }
  @media (max-width: $small) {
    font-size: 17.5px;
  }
}

@mixin h5 {
  @include font(false);
  @include bezier(200ms);
  @media (min-width: $large) {
    font-size: 30px;
  }
  @media (max-width: $large) {
    font-size: 27.5px;
  }
  @media (max-width: $medium) {
    font-size: 22.5px;
  }
  @media (max-width: $small) {
    font-size: 17.5px;
  }
}

@mixin p {
  @include font(false);
  @include bezier(200ms);
  @media (min-width: $large) {
    font-size: 25px;
  }
  @media (max-width: $large) {
    font-size: 22px;
  }
  @media (max-width: $medium) {
    font-size: 20px;
  }
  @media (max-width: $small) {
    font-size: 17.5px;
  }
}

@mixin headerPadding {
  padding: 50px 0;
  @media (max-width: $medium) {
    padding: 25px 0;
  }
}
