$white: #fff;
$black: #000;
$gray: #333;
$lightgray: #69727b;
$red: #c1272d;

$small: 400px;
$medium: 800px;
$large: 1200px;
$extralarge: 1500px;

@mixin main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
  @media (max-width: 500px) {
    width: 90%;
  }
  @media (max-width: 800px) {
    width: 85%;
  }
  @media (min-width: 800px) {
    width: 80%;
  }
}

@mixin bezier($duration) {
  transition: all $duration cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin h1 {
  font-family: "Hoccen", sans-serif;
  @include bezier(200ms);
  @media (min-width: $large) {
    font-size: 50px;
  }
  @media (max-width: $large) {
    font-size: 40px;
  }
  @media (max-width: $medium) {
    font-size: 30px;
  }
  @media (max-width: $small) {
    font-size: 25px;
  }
}
