@import "../../assets/variables.scss";

.product-tag {
  padding: 4px 12px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  letter-spacing: 0.5px;
  @include ease-in-out(200ms);
}
