@import "../../assets/variables.scss";

.heat-rating {
  width: 20px;
  &--1 {
    fill: #00a851;
  }
  &--2 {
    fill: #7dc242;
  }
  &--3 {
    fill: #ecc304;
  }
  &--4 {
    fill: #f37732;
  }
  &--5 {
    fill: #ed2126;
  }
}
