@import "../../assets/variables.scss";

.heat-rating {
  width: 20px;
  &--1 {
    fill: green;
  }
  &--2 {
    fill: yellow;
  }
  &--3 {
    fill: orange;
  }
  &--4 {
    fill: red;
  }
  &--5 {
    fill: blue;
  }
}
