@import "../../assets/variables.scss";

main.product {
  @include main;
  .product-info {
    &--preview {
      width: 100%;
      &-main {
        width: 70%;
        img {
          width: 100%;
        }
      }
      &-list {
        width: 30%;
        &--item {
          width: 100%;
        }
      }
    }
  }
}
