@import "../../assets/variables.scss";

main.product {
  @include main;
  .product-info {
    @media (min-width: $large) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &--preview {
      width: 100%;
      padding: 50px 0 0 0;
      @media (max-width: $small) {
        padding: 25px 0 0 0;
      }
      @media (min-width: $large) {
        width: 40%;
      }
      &-main {
        width: 100%;
        img {
          width: 100%;
        }
      }
      &-list {
        width: 100%;
        list-style: none;
        padding: 10px 0 0 0;
        margin: 0;
        display: flex;
        &--item {
          width: 100%;
          margin-right: 20px;
          cursor: pointer;
          @include bezier(200ms);
          @media (max-width: $small) {
            margin-right: 10px;
          }
          &:hover {
            transform: scale(1.05);
          }
          &:last-child {
            margin-right: 0;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    &--main {
      padding: 20px 0 20px 0;
      @media (min-width: $large) {
        width: 45%;
        padding: 50px 0 0 0;
      }
      &-title {
        @include h1;
        margin: 0;
      }
      &-price {
        @include h3;
        margin: 0;
        line-height: 1.5;
      }
      &-shipping {
        @include h5;
        margin: 10px 0 0 0;
        color: $lightgray;
        font-weight: lighter;
        a {
          color: black;
          cursor: pointer;
          line-height: 1.5;
          display: inline-block;
          text-decoration: none;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size 0.3s;
          &:hover,
          &:focus {
            background-size: 100% 2px;
          }
        }
      }
      &-description {
        @include p;
        margin: 5px 0 15px;
      }
      &-add {
        border: none;
        font-family: "Neutra", sans-serif;
        display: inline-block;
        padding: 8px 25px;
        font-size: 22px;
        background-color: $red;
        text-decoration: none;
        color: $white;
        border-radius: 3px;
        width: fit-content;
        cursor: pointer;
        @include bezier(200ms);
        &:hover {
          transform: scale(1.1);
        }
        @media (max-width: $small) {
          padding: 6px 18px;
          font-size: 18px;
        }
      }
    }
  }
}
