@import "../../assets/variables.scss";

main.home {
  @include main;
  .featured-products {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
}
