@import "../../assets/variables.scss";

main.shop {
  @include main;
  header {
    @include headerPadding;
    h1 {
      @include h1;
      margin: 0;
    }
    .search-settings {
      position: relative;
      margin-top: 25px;
      &--form {
        background-color: rgba(211, 211, 211, 0.5);
        padding: 10px;
        border-radius: 5px;
        position: relative;
        @include bezier(300ms);
        &-advanced {
          @include bezier(300ms);
          overflow: hidden;
          padding: 10px;
          &--price {
            .rc-slider {
              &-rail {
                background-color: darkgray;
              }
            }
          }
          &--heat {
            .rc-slider {
              &-rail {
                background-color: darkgray;
              }
            }
          }
        }

        &-basic {
          position: relative;
          &--input {
            padding: 5px;
            background-color: transparent;
            border: gray 1px solid;
            border-radius: 5px;
            width: 100%;
            font: 25px "Neutra";
          }
          &--advanced {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 55px;
          }
          &--submit {
            border: none;
            padding: 15px;
            background-size: cover;
            background-image: url("../../assets/svg/search.svg");
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
          }
        }
      }
      &--quantity {
        @include h5;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .search-results {
    &--list {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
