@import "../../assets/variables.scss";

main.shop {
  @include main;
  header {
    @include headerPadding;
    h1 {
      @include h1;
      margin: 0;
    }
    .search-settings {
      position: relative;
      margin-top: 25px;
      &--form {
        background-color: rgba(211, 211, 211, 0.5);
        padding: 15px;
        border-radius: 5px;
        position: relative;
        @include bezier(300ms);
        &-advanced {
          @include ease-in-out(300ms);
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          &--price {
            min-width: 47%;
            @media (max-width: $medium) {
              min-width: 95%;
              max-width: 95%;
            }
            &-title {
              font-size: 20px;
              margin: 10px 0;
            }
            .rc-slider {
              &-rail {
                background-color: darkgray;
              }
              &-track {
                background-color: #c1272d;
              }
              &-handle {
                border: 2px #c1272d solid;
                border-radius: 5px;
                &-dragging {
                  box-shadow: 0 0 4px 1px #c1272d;
                }
              }
            }
          }
          &--heat {
            min-width: 47%;
            @media (max-width: $medium) {
              min-width: 95%;
              max-width: 95%;
            }
            &-title {
              font-size: 20px;
              margin: 10px 0;
            }
            .rc-slider {
              &-rail {
                background-color: darkgray;
              }
              &-track {
                background-color: #c1272d;
              }
              &-handle {
                border: 2px #c1272d solid;
                border-radius: 5px;
                &-dragging {
                  box-shadow: 0 0 4px 1px #c1272d;
                }
              }
            }
          }
          &--color {
            min-width: 30%;
            @media (max-width: $large) {
              min-width: 60%;
            }
            @media (max-width: $medium) {
              min-width: 100%;
            }
            &-current {
              @include ease-in-out(200ms);
            }
            &-container {
              display: flex;
              justify-content: space-between;
              padding: 10px 0;
              &--option {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                @include bezier(200ms);
              }
            }
          }
        }

        &-basic {
          position: relative;
          &--input {
            padding: 5px;
            background-color: transparent;
            border: none;
            border-radius: 5px;
            width: 100%;
            font: 25px "Neutra";
          }
          &--advanced {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 55px;
            border: none;
            background-color: $red;
            padding: 8px;
            border-radius: 5px;
            font-family: "Neutra";
            font-weight: bold;
            color: white;
            letter-spacing: 0.7px;
            cursor: pointer;
            @include ease-in-out(200ms);
            &:hover {
              transform: scale(1.1) translateY(-50%);
            }
          }
          &--submit {
            background: none;
            border: none;
            padding: 15px;
            background-size: cover;
            background-image: url("../../assets/svg/search.svg");
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
            cursor: pointer;
            @include ease-in-out(200ms);
            &:hover {
              transform: scale(1.1) translateY(-50%);
            }
          }
        }
      }
      &--quantity {
        @include h5;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .search-results {
    &--list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 32px;
      padding-bottom: 5vh;
    }
  }
}
