@import "../../assets/variables.scss";

main.contact {
  @include main;
  .header {
    @include headerPadding;
    &--title {
      @include h1;
      margin: 0;
    }
    &--description {
      @include h3;
      margin: 20px 0 0;
      text-transform: uppercase;
      color: #69727b;
    }
  }
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--container {
      padding: 0 0 5px;
      &-label {
        display: block;
        @include font(false);
        font-weight: bold;
        font-size: 21px;
        text-transform: uppercase;
      }
      &-input {
        display: block;
        border: none;
        background-color: rgba(211, 211, 211, 0.5);
        padding: 15px;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0 5px;
        font-size: 20px;
        @include font(false);
        @include bezier(200ms);
      }
      &-error {
        display: block;
        color: red;
        font-size: 20px;
        @include font(false);
      }
    }
    &--container.input {
      min-width: 47.5%;
      @media (max-width: $medium) {
        min-width: 100%;
      }
    }
    &--container.textarea {
      min-width: 100%;
      margin-top: 5px;
      textarea {
        max-width: 100%;
        min-width: 100%;
        max-height: 600px;
        transition: none;
      }
    }
    &--button-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      @media (max-width: $small) {
        margin-top: 5px;
      }
      &--submit {
        border: none;
        @include font(false);
        display: inline-block;
        padding: 8px 34px;
        font-size: 22px;
        background-color: $red;
        text-decoration: none;
        color: $white;
        border-radius: 3px;
        cursor: pointer;
        @include bezier(200ms);
        &:hover {
          transform: scale(1.1);
        }
        @media (max-width: $small) {
          padding: 6px 20px;
          font-size: 18px;
        }
      }
    }
  }
}
