@import "../../assets/variables.scss";

main.cart {
  @include main;
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include headerPadding;
    padding-bottom: 20px;
    &--title {
      @include h1;
      margin: 0;
    }
  }
  .cart-list {
    &--table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: auto;
      @media screen and (max-width: $medium) {
        border: 0;
        thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
      }
      tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: 0.35em;
        @media screen and (max-width: $medium) {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: 0.625em;
        }
        td {
          @media screen and (max-width: $medium) {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 0.8em;
            text-align: right;
            &::before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
      caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
      }
      th,
      td {
        padding: 0.625em;
        text-align: center;
      }
      th {
        font-size: 0.85em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      &-body {
        &--item {
          &-product {
            a {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-evenly;
              max-width: 350px;
              img {
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
}
